<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || Rails.application.class.module_parent_name %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <% if @song&.song_art_image_url.present? %>
    <meta property="og:image" content="<%= @song.song_art_image_url %>">
  <% end %>

  <%= yield(:head) %>
</head>
<body>
  <header style="display: flex; align-items: center; padding: 10px;">
    <h1><%= link_to "Zene", root_path %></h1>
    <% if @song&.song_art_image_url.present? %>
      <%= image_tag @song.song_art_image_url, alt: @song.title, style: "max-width: 80px; height: auto; margin-left: 20px;" %>
    <% end %>
  </header>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
